/*
 * Core Styles
 * Jason Cole (http://jason-cole.com)
 * June 2007 - March 2008
 */

/* Fonts */

body
{
 font-family: Arial,Verdana,sans-serif;
}
#header h1,#header h2,#footer p,#header,#footer,#navigation_top,#navigation_bottom,h1,h2,h3,h4,h5,h6,dt
{
 font-family: "Trebuchet MS",sans-serif;
 font-weight: bold;
 letter-spacing: 1px;
}

/* General Tags */

body
{
  scrollbar-gutter: stable; 
 background-color: #fff;
 color: #000;
 font-size: 90%;
 margin: 0;
 text-align: center;
}
a,a:link,a:visited
{
 color: #01f;
 text-decoration: none;
}
a:hover,a:active
{
 text-decoration: underline;
}

/* Basic Layout */

#outer_container
{
 color: #333;
 margin: 0 auto;
 text-align: left;
 width: 90%;
 margin: 0 auto;
}

#container
{
 background-color: #fff;
 border: solid #ccc;
 border-width: 0px 0px 0px;
 width: 100%;
}
#inner_container
{
 margin: 0 auto;
 border: 6px solid #fff;
}

#header
{
 background: #00f;
 color: #fff;
 width: 100%;
}
#header h1
{
 border-bottom-width: 0;
 color: #fff;
 margin: 0;
 padding: 6px 12px 6px;
}
#header h2
{
 border-bottom-width: 0;
 color: #fff;
 font-weight: normal;
 margin: 0;
 padding: 0 12px 6px;
}

#navigation_top
{
 background-color: #fff;
 border-top: 6px solid #fff;
 border-bottom: 6px solid #fff;
 text-align: center;
}
#navigation_top ul
{
 border-bottom: 1px solid #ccc;
 color: #fff;
 list-style-type: none;
 margin: 0;
 padding: 0 0 6px;
}
#navigation_top li
{
 color: #fff;
 display: inline;
 margin: 0;
 padding: 0;
}

#navigation_bottom
{
 background-color: #fff;
 border-top: 6px solid #fff;
 border-bottom: 6px solid #fff;
 clear: both;
 text-align: center;
}
#navigation_bottom ul
{
 border-top: 1px solid #ccc;
 color: #fff;
 list-style-type: none;
 margin: 0;
 padding: 6px 0 0;
}
#navigation_bottom li
{
 color: #fff;
 display: inline;
 margin: 0;
 padding: 0;
}

#footer
{
 background: #00f;
 color: #fff;
 width: 100%;
}
#footer p
{
 line-height: 3em;
 margin: 0;
 padding: 0;
 text-align: center;
}

/******\
 Content
\******/

h1,h2,h3,h4,h5,h6
{
 color: #000;
 padding: 10px 10px 5px;
 margin: 0;
}

p
{
 font-size: 100%;
 line-height: 1.4em;
 margin: 0px 20px 0px 10px;
 padding: 0px 0px 18px 12px;
 text-align:justify;
}



li
{
 font-size: 100%;
 line-height: 1.25em;
 padding: 1px 0 2px;
 text-align:justify;
 font-size: 100%;
 margin-left: 40px;
 margin-right: 22px;
}

ul {
margin-top: -10px;
padding: 0;
}

table
{
 border-collapse: collapse;
 border-spacing: 0;
 font-size: 100%;
 margin: 0 auto 0.5em;
 padding: 0;
}
td,th
{
 line-height: 1.4em;
 margin: 0;
 padding: 0.5em;
 text-align:justify;
}
input
{
 border: solid #e8e8e8;
 border-width: 0 0 1px;
 margin: 0.5em 0;
 padding: 0.5em 0;
 width: 100%;
}
textarea
{
 border: 1px solid #e8e8e8;
 margin: 0.5em 0;
 padding: 0.5em 0;
 width: 100%;
}
form,fieldset
{
 border: none;
 margin: 0;
 padding: 0;
}
.submit
{
 background-color: #e8e8e8;
 margin: 0;
 padding: 0.5em 0;
 width: 100%;
}


details { border: 2px solid #ddd; border-radius: 5px; overflow: hidden;  margin: 0px 20px 0px 20px;
 padding: 5px 12px 5px 12px;
 text-align:justify;
 font-size: 100%;
 line-height: 1.4em;}
