/*
 * Layout Styles
 * Jason Cole (http://jason-cole.com)
 * June 2007 - February 2008
 */




/*
  1 1 layout
*/
.layout_1_1 #menu
{
 border: solid #ccc;
 border-width: 0 0 1px;
 margin-bottom: 6px;
 padding-bottom: 6px;
}

.layout_1_1 #extra
{
 border: solid #ccc;
 border-width: 0 0 1px;
 margin-bottom: 6px;
 padding-bottom: 6px;
}

.layout_1_1 #content
{
 border-width: 0;
}

/*
scrolling bar always present
*/
body {
  overflow-y: scroll;
}



